---
import Layout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/TimeLine.astro";
---

<Layout>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10 text-justify">
    Licenciado en Ciencias Informáticas con más de 10 años de experiencia en
    desarrollo web. Dominio de varios lenguajes de programación. Experiencia en
    administración de servidores Linux (cloud, monitoreo de servicios,
    virtualización y otros).
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Tecnico Médio en Ciencias Informática"
      subtitle="Instituto Politécnico de Informática Calixto García, Holguín, Cuba"
    />
    <TimeLineElement
      title="Licenciatura en Ciencias Informática"
      subtitle="Facultad de Tecnología de la Salud, Holguín, Cuba"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Jefe Departamento de Informática"
      subtitle="2007 - junio 2010. Policlínico Julio Grave de Peralta, Holguín, Cuba"
      desc=""
    />
    <TimeLineElement
      title="Web Developer"
      subtitle="julio 2010 - octubre 2017. Universidad de Ciencias Médicas de Holguín, Cuba"
      desc="Diseño y maquetación, HTML5, CSS3, SEO web, Bootstrap, Wordpress, Joomla, Drupal, Javascript, Python"
    />
    <TimeLineElement
      title="Administrador de sistemas"
      subtitle="oct. 2017 - dic. 2023. Nodo Infomed Holguín, Cuba"
      desc="Administración de servidores (Kubernetes, Balanceadores de cargas con HAProxy, Grafana Loki, Monitoreo de servicios, Ansible, etc.). Desarrollo de aplicaciones web para el sector de la salud en la provincia."
    />
    <TimeLineElement
      title="Freelancer"
      subtitle="sept. 2023 - actualidad"
      desc="Desarrollo de sitios web de comercio electrónicos, asi como aplicaciones de gestión."
      badge="Actual"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Español (Nativo)</li>
    <li>Inglés (Básico)</li>
    <li>Python</li>
    <li>Django</li>
    <li>FastAPI</li>
    <li>JavaScript</li>
    <li>PHP</li>
    <li>MySQL</li>
    <li>CSS</li>
    <li>Astro</li>
    <li>Bootstrap</li>
    <li>Taildwind</li>
    <li>JQuery</li>
    <li>Wordpress</li>
    <li>Git</li>
    <li>SEO web</li>
    <li>Adobe Photoshop</li>
    <li>Docker</li>
    <li>Kubernetes</li>
    <li>Grafana</li>
  </ul>
</Layout>
