---
import Layout from "../layouts/BaseLayout.astro";

---

<Layout>
  <div class="pb-12 mt-5">   
    <div class="text-xl py-1">Hola 👋</div>
    <div class="text-3xl font-bold">Soy Brian, Desarrollador Web Full Stack</div>
    <div class="py-2">
      <text class="text-lg">
        Soy un apasionado de la tecnología y el diseño, y mi misión es convertir ideas en experiencias digitales impactantes.
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        Construyo aplicaciones web robustas y eficientes que se adaptan perfectamente a las necesidades únicas de mis clientes. Además, mi dominio en Wordpress me permite crear sitios web dinámicos y atractivos, desde blogs hasta tiendas en línea, estoy capacitado para llevar cualquier visión al mundo digital con estilo y profesionalismo.
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        Desde el desarrollo inicial hasta el despliegue en servidores, ya sea en hosting compartido o en un entorno VPS personalizado, te acompaño en cada paso del camino.
      </text>
    </div>
    <div class="py-2">
      <text class="text-lg">
        ¿Estás listo para llevar tu presencia en línea al siguiente nivel? ¡Entonces es hora de explorar mi portafolio y comenzar a dar vida a tus ideas! No dudes en ponerte en contacto conmigo para discutir tu proyecto y obtener una cotización personalizada. Estoy aquí para convertir tus sueños digitales en realidad.
      </text>
    </div>
    
    <div class="mt-8">
      <a class="btn" 
      href="https://t.me/brianmrdev"
      target="_blank">
        Escríbeme!</a
      >
      <a
        href="/portafolio"
        class="btn btn-outline ml-5"
      >
        Portafolio</a
      >
    </div>    
  </div>
  

</Layout>
