---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Noviembre 2023 - Presente",
    title: "Desarrollador Web Full Stack | FREELANCER",
    description: "Diseñé y desarrollé sitios de comercio electrónico en WordPress y Django, integrando múltiples pasarelas de pago para transacciones seguras. Creé aplicaciones web personalizadas y optimicé cada proyecto para SEO, mejorando la visibilidad en motores de búsqueda.",
    isCurrent: true,
    tags: ["Next.js", "Astro", "Django", "FastAPI", "WordPress", "Tailwind CSS", "Docker"],
  },
  {
    date: "Enero 2023 - Noviembre 2023",
    title: "Desarrollador Web Full Stack | EICMA",
    description: "Desarrollé una aplicación web que automatizó y centralizó la gestión de órdenes de trabajo, permitiendo un control eficiente del cumplimiento de tareas, horas trabajadas y el aporte monetario de cada orden. Diseñé el logotipo oficial de la empresa como parte de su transición a MIPYME.",
    tags: ["Python", "Django", "JavaScript", "PostgreSQL"],
  },
  {
    date: "Julio 2010 - Enero 2023",
    title: "Administrador de Infraestructura de TI y Desarrollador Web | INFOMED",
    description: "Administré entornos de Kubernetes en la nube y configuré balanceadores de carga. Implementé monitoreo con Grafana y Grafana Loki. Desarrollé una aplicación web para el flujo de trabajo de muestras PCR, complementada con un bot de Telegram para consulta de resultados.",
    tags: ["Kubernetes", "Docker", "Grafana", "Python", "Linux", "Nginx", "Apache", "Ansible", "Proxmox", "Bash"],
  },
];
---

<ol class="relative border-s border-gray-700">
  {
    EXPERIENCE.map((experience, i) => (
      <li class="mb-10 ms-6">
        <ExperienceItem {...experience} animateDelay={`${i * 0.15}s`} />
      </li>
    ))
  }
</ol>
