---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Noviembre 2023 - Presente",
    title: "Desarrollador Web Full Stack | FREELANCER",
    description: "Diseñé y desarrollé sitios de comercio electrónico en WordPress y Django, integrando múltiples pasarelas de pago para transacciones seguras. Además, creé aplicaciones web personalizadas para clientes con funcionalidades específicas a sus necesidades. Utilicé tanto Bootstrap como Tailwind CSS para lograr interfaces adaptativas y atractivas, y optimicé cada proyecto para SEO, mejorando la visibilidad en motores de búsqueda.",
    isCurrent: true
  },
  {
    date: "Enero 2023 - Noviembre 2023",
    title: "Desarrollador Web Full Stack | EICMA",
    description: "Desarrollé una aplicación web para la empresa que automatizó y centralizó la gestión de órdenes de trabajo generadas por los especialistas al atender a clientes. La plataforma permitió un control eficiente del cumplimiento de tareas, horas trabajadas y el aporte monetario de cada orden, optimizando la productividad y la supervisión operativa. Diseñé el logotipo oficial de la empresa como parte de su transición a MIPYME, capturando los valores y la visión renovada de la organización. El diseño reflejó su identidad moderna y profesional, alineándose con los objetivos estratégicos de crecimiento y posicionamiento en el mercado",
  },
  {
    date: "Julio 2010 - Enero 2023",
    title: "Administrador de Infraestructura de TI y Desarrollador Web | INFOMED",
    description: "Administré entornos de Kubernetes en la nube, incluyendo la configuración de balanceadores de carga para optimizar la distribución del tráfico. Implementé servicios de recolección y monitoreo de trazas utilizando Grafana y Grafana Loki, mejorando la visibilidad y análisis de datos en tiempo real. Desarrollé una aplicación web para automatizar y protocolizar el flujo de trabajo, desde la toma de muestras hasta la notificación de resultados de PCR para instituciones de salud. Complementé el sistema con un bot de Telegram que facilita la consulta de resultados para la población.",
  },
];
---

<ol class="relative border-s border-gray-700">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-6">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
