<li><a href="/#services" class="hover:text-blue-400">Servicios</a></li>
<li><a href="/#experience" class="hover:text-blue-400">Experiencia</a></li>
<li><a href="/portfolio" class="hover:text-blue-400">Portafolio</a></li>
<li><a href="/#skill" class="hover:text-blue-400">Skill</a></li>
<li><a href="/#" class="hover:text-blue-400">Acerca de</a></li>
